
#rp-dev { color: black;padding: 0 0 40px 0;/* Default Padding Bottom same as Slider Height */
    background: url(../../images/rp-dev/bg-repeat-charocal.png); }







.rp-panel-wrap { padding: 20px 0;position: relative;overflow: hidden; }
.rp-scrollwrap, .rp-slider { width: 900px;margin: 0 auto; }




.rp-scrollwrap  {
    position: relative;
    height: 390px;
    margin: 20px auto;
}

.rp-scroll-view { position: absolute;width: 100%;height: 100%;top: 0;left: 0;z-index: 0; }


.rp-step-np { position: absolute;width: 50px;height: 430px;top: 0;cursor: pointer;background: url(../../images/rp-dev/bg-1x1-0.0.0.30.png);z-index: 10000; }
.rp-step-np:hover { background: black; }
.rp-step-prev { left: 0; }
.rp-step-next { right: 0; }


.rp-scroll  {
    position: relative;
    width: 20000em;
    /* padding: 0 100px; Corresponds to Range Slider Initial Value */
    height: 390px;
    background: url("../../images/rp-dev/bg-grid-30px.png"); /* A grid would be nice for this */
    color: #fff;
    /* left: -100px; Corresponds to Range Slider Initial Value */
}

/* List/Block Items within Scroll */
.rp-scroll-items {
    display: block;list-style: none;margin: 0;padding: 0;position: relative;z-index: 5000;
}
    
    /* Define List Item and Item Inner Size Together (Possibly a dumb idea, but thinking consistency) */
    .rp-scroll-items { height: 390px; }
    .rp-scroll-items .si-inner { height: 370px;width: 280px;padding: 5px; }
    .rp-scroll-items .dbl-pane { width: 580px; }
    .rp-scroll-items .tri-pane { width: 880px; }
    
    .rp-scroll-items li { display: block;float: left;margin: 0;padding: 0;
        padding: 5px;background: url(../../images/rp-dev/bg-1x1-0.0.0.30.png); }
        
        .rp-scroll-items .si-inner { background: url(../../images/rp-dev/bg-1x1-0.0.0.30.png); }
        


.rp-sliderwrap {
    height: 40px;
    width: 100%;
    background: rgb(125, 125, 125);
    position: absolute;
    bottom: 0;
}

.rp-slider {
    position: relative;
    cursor: pointer;
    height: 40px;
    overflow: hidden;
}
    /* Fake Slider : Objective is preferred styling but bigger hit area */
    .rp-slider .faux-slider {
        height: 4px;
        background: rgb(255, 255, 255);
        position: relative;
        z-index: 0;
        margin: 18px 0 0 0;
    }
    .lt-ie8 .rp-slider .faux-slider { margin: 0;top: 18px; }
    

.rp-progress {
    background: rgb(60,60,60);
    height: 2px;
    margin: 19px 1px 0 1px;
    position: absolute;
    width: 0;
    z-index: 990;
}

.rp-handle {
    background: rgb(60, 60, 60);
    height:40px;
    width:80px;
    position:absolute;
    z-index: 1000;
    display:block;
    cursor: move;
}

.rp-handle:active {
    background: rgb(0, 0, 0);
}

.rp-range {
    display: none;
}








/* Dev Tools */
.rp-devpanel { padding: 20px !important;
    font-size: 1em;font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}


.rp-devpanel h2 { font-size: 100%;margin: 5px 0;text-transform: uppercase; }
.rp-devpanel ul { margin: 0 0 8px 5px;padding: 0; }
.rp-devpanel ul li { list-style: none;font-size: 90%; }
.rp-devpanel ul li span { margin: 0 0 0 8px;font-size: 110%; }