body { background:rgb(129,127,120);font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;font-size: 1em; }

#header { height: 90px; }

#header, #footer { padding: 30px 0;background:rgb(0,0,0);color: rgb(255, 255, 255); }

#main { }
